<div id="<%= dom_id sketch %>">
  <%= image_tag sketch.image, class: 'sketch' %>
  <p>
    <strong>Artist:</strong>
    <%= sketch.artist %>
  </p>

  <p>
    <strong>Upvotes:</strong>
    <%= sketch.upvotes %>
  </p>

</div>
