
  <% if sketch.image.attached? %>
  <img 
   srcset="<%=url_for(sketch.image)%> 2.5x" alt="" class="sketch p-1 pb-6 " onLoad="removeSkeleton(this)">
  <% end %>
  <p class="absolute font-trap bottom-0 right-2 text-shadow text-sm md:text-md">
    <%= sketch.artist %>  <span class="text-xs text-generic-blue"> (♥<span class="upvotes"><%= sketch.upvotes%></span>) </span> 
  </p>

