<div class="relative">
  <% if sketch.image.attached? %>
  <img id="<%= dom_id sketch %>" onClick="upvote(<%= sketch.id %>)"
   srcset="<%=url_for(sketch.image)%> 2.5x" alt="" class="sketch upvote p-1" onLoad="removeSkeleton(this)">
  <% end %>
  <p class="absolute font-trap text-lg bottom-2 right-2">
    <%= sketch.artist %>
  </p>
</div>
