<div id="<%= dom_id sketch %>">
<% unless image.nil? %>
    <%= image_tag sketch.image, class: 'sketch' %>

<% end %>
  <p>
    <strong>Artist:</strong>
    <%= sketch.artist %>
  </p>

  <p>
    <strong>Upvotes:</strong>
    <%= sketch.upvotes %>
  </p>

</div>
