<article class="article mb-6 md:mb-14 md:max-w-sm w-full md:mr-14 space-y-3 lg:mr-28 px-6 md:px-0 ">
<h4>Hello! Congratulations on finding this secret project...</h4>
<p>Sometimes when artists meet, they exchange notebooks. Each artist takes a page from the other artist's notebook to claim as his own - filling the empty space however he feels is best. I thought I would bring this same idea to my portfolio website.</p>
<p>Thank you for checking out my portfolio. I shared some of my work with you, now please share a sketch with me. It could be a signature, a doodle, or a Mona Lisa. </p>
<br>
<h4>A bit about the tech implementation... </h4>
<p>I host this website for free using Netlify for my portfolio and Heroku for this visitor log. The visitor log is a Rails application with a few API endpoints that allow me to send over and save the sketch. Visiting my portfolio homepage pings my Heroku app to wake it up so there is no delay when visiting this site. </p>
<p>I will add a write up about the process later.</p>
</article>
