<div class="mt-14 md:mt-nav-project w-full md:w-56 lg:w-64 md:sticky md:top-16 md:mr-10 lg:mr-16 self-start flex justify-center md:justify-end z-50">
    <nav class="text-center w-full md:text-right font-trap text-md flex flex-col space-y-2 text-shadow font-semibold">
         <p class="text-lg "> Julian DeGroot-Lutzner</p>
         <a href="https://jdegrootlutzner.com/">
         <p class="md:mr-4 hover:text-generic-blue">About</p>
        </a>
         <a href="https://jdegrootlutzner.com/#projects">
         <p class="md:mr-4 hover:text-generic-blue">Projects</p>
        </a>
        <a href="https://jdegrootlutzner.com/#contact">
         <p class="md:mr-4 hover:text-generic-blue">Contact</p>
        </a>
    </nav>
</div>
